# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- main

pr: none

pool:
  vmImage: 'windows-latest'

steps:

# Step 1: Build the docs converter from source.
- task: DotNetCoreCLI@2
  inputs:
    command: 'build'
    projects: 'DocsConverter/DocsConverter.csproj'
    arguments: '-c Release'
  displayName: 'Build Docs Converter'

# Step 2: Run the converter, passing the docs folder as the first argument.
- task: PowerShell@2
  inputs:
    targetType: 'inline'
    script: |
      $converterDll = "$(Build.SourcesDirectory)\DocsConverter\bin\Release\net9.0\DocsConverter.dll"
      $docsPath = "$(Build.SourcesDirectory)\docs"
      Write-Host "Running converter: $converterDll with docs path: $docsPath"
      dotnet $converterDll $docsPath
  displayName: 'Run Docs Converter'

# Step 3: Upload the entire docs folder (with generated HTML and docs.json) to Azure Blob Storage.
- task: AzureFileCopy@6
  inputs:
    SourcePath: '$(Build.SourcesDirectory)\docs'
    azureSubscription: 'Visual Studio Enterprise Subscription (20ccd567-1ffd-428b-949d-089c504d45eb)'
    Destination: 'AzureBlob'
    storage: 'stfluentsearch'
    ContainerName: 'fluent-search'
  displayName: 'Upload docs folder to Azure Blob Storage'

- task: AzureFileCopy@6
  inputs:
    SourcePath: '*.json'
    azureSubscription: 'Visual Studio Enterprise Subscription (20ccd567-1ffd-428b-949d-089c504d45eb)'
    Destination: 'AzureBlob'
    storage: 'stfluentsearch'
    ContainerName: 'fluent-search'

- task: AzureCLI@2
  inputs:
    azureSubscription: 'Hotmail Visual Studio Subscription'
    scriptType: 'ps'
    scriptLocation: 'inlineScript'
    inlineScript: 'az afd endpoint purge -g rg-fluentsearch --profile-name fluentsearch-cdn --endpoint-name fluentsearch-cdn --content-paths ''/*'' --no-wait'